<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(179, 88, 120) ;">

    <h1>Diabetes prediction</h1>
    <form method="GET" action="/Endpoint">
        <label>Glucose:</label>
        <input type="text" name="Glucose">
        </select>
        <br>
        <br>

        <label>BloodPressure:</label> 
        <input type="text" name="BloodPressure">
        </select>
        <br>
        <br>
            
        <label>SkinThickness:</label> 
        <input type="text" name="SkinThickness">
        </select>
        <br>
        <br>

        <label>Insulin:</label> 
        <input type="text" name="Insulin">
        </select>
        <br>
        <br>
            
        

        <label>BMI:</label> 
        <input type="text" name="BMI">
        </select>
        <br>
        <br>

        <label>DiabetesPedigreeFunction:</label> 
        <input type="text" name="DiabetesPedigreeFunction">
        </select>
        <br>
        <br>

        <label>Age:</label> 
        <input type="text" name="Age">
        </select>
        <br>
        <br>
     
       
        <input type="submit" value="SUBMIT">
        <br><br>
    
        <p>If pred ==1 you have dibetes <b>{{predict}}</b></p>
    </form>
    
        

</body>
</html>
    
</body>
</html>